<html>
  <title>Site under maintenance</title>
  <style>
    body { font: 20px Helvetica, sans-serif; }
    h1 { color: #444; font-weight: normal; }
    .content { text-align: center; padding-top: 100px;}
    .image-wrap img { width: 75%; }
    .message {color: #727272; }
    .logo-wrap { float: left; height: 27px; line-height: 27px; margin: 20px 20px 0 20px; }
    .logo-wrap img { min-width: 86px; }
  </style>
  <body>
    <h2 class="logo-wrap">
      <img src="./ggrc-logo.svg">
    </h2>
    <div class="content">
      <h1>UNDER MAINTENANCE</h1>
      <div class="message">
        <p>Our best engineers are working on it. We will be back soon!</p>
      </div>
      <div class="image-wrap">
        <img src="./maintenance.png">
      </div>
    </div>
  </body>
</html>
