{
  "env": {
    "production": {
      "plugins": [
        "@babel/plugin-transform-runtime",
        "@babel/plugin-syntax-dynamic-import",
        "@babel/plugin-proposal-object-rest-spread",
        "@babel/plugin-transform-strict-mode"
      ],
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "browsers": [
                "last 2 versions"
              ]
            },
            "modules": false
          }
        ]
      ],
      "minified": true,
      "comments": false,
      "compact": true
    },
    "development": {
      "plugins": [
        "@babel/plugin-transform-runtime",
        "@babel/plugin-syntax-dynamic-import",
        "@babel/plugin-proposal-object-rest-spread",
        "@babel/plugin-transform-strict-mode"
      ],
      "presets": [
        [
          "@babel/preset-env",
          {
            "debug": true,
            "targets": {
              "browsers": [
                "last 2 versions"
              ]
            },
            "modules": "commonjs"
          }
        ]
      ]
    }
  }
}